
<div class="container-fluid" style="background-color: #f1f5f9">
    <!-- <a (click)="showAddBox()">
        <i class="fa fa-plus-square fs-5 mt-2"></i>
    </a> -->
    <div class="row flex-nowrap">
      <div class="container-fluid" style="width: 82vw">
        <div class="pageBox mt-4 ">
            <table class="text-center">
                <thead class="mb-3">
                    <th>id</th>
                    <th>Photo</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Date of birth</th>
                    <th>Action</th>
                </thead>
                <div class="py-2"></div>
                <tbody>
                    <tr *ngFor = "let autor of allAuthores | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage };index as i">
                        <td >{{i+1}}</td>
                        <td>
                            <img style="height: 50px; width:50px;" class="mb-3" src="http://localhost:5000/{{autor.Image.split('assets')[1]}}" alt="Author Photo">
                        </td>
                        <td>{{autor.firstName}}</td>
                        <td>{{autor.lastName}}</td>
                        <td>{{autor.dateOfBirth|date}}</td>
                        <td>
                            <!-- <a (click)="showUpdateBox(autor._id)">
                                <i class="fa-solid fa-pen me-3 mt-4"></i>
                            </a>
                            <a (click)="deleteAuthor(autor._id)">
                                <i class="fa-regular fa-trash-can mt-4"></i>
                            </a>  -->
                        </td>
                    </tr>
                </tbody>
             </table>

             <div class="text-center paginationNav mt-">
                <pagination-controls  (pageChange)="currentPage = $event"></pagination-controls>
            </div>
        </div>
      </div>


    </div>
</div>

<div class="layer position-absolute position-relative px-5 py-3 rounded text-center" id="layer">
    <!-- <a (click)="closeAddBox()" class="position-absolute close">
        <i class="fa fa-close fs-5"></i>
    </a> -->
    <h1 class="mt-4">Add Author</h1>
    <!-- <form  #addAuthorInput="ngForm"  (ngSubmit)="addAuthor(addAuthorInput)">
            <div class="form-group mb-3">
                <input required minlength="3" maxlength="7" ngModel class="form-control" name="firstName" #userEmail="ngModel" placeholder="First Name">
                <div *ngIf="userEmail.touched">
                    <p *ngIf="userEmail.errors?.['required']" class="text-danger mt-2">Category Name is required</p>
                    <p *ngIf="userEmail.errors?.['minlength']" class="text-danger mt-2">Min length must be 3</p>
                    <p *ngIf="userEmail.errors?.['maxlength']" class="text-danger mt-2">Min length must be 7</p>
                </div>
            </div>
            <div class="form-group mb-3">
                <input required minlength="3" maxlength="10" ngModel class="form-control" name="lastName" #userEmail="ngModel" placeholder="last Name">
                
            </div>

            <div class="form-group mb-3">
                <input required minlength="3" maxlength="10" ngModel class="form-control" name="dateOfBirth" #userEmail="ngModel" placeholder="Date of Birth">
                
            </div>
            <div class="form-group mb-3">
                <textarea required minlength="3" maxlength="30" ngModel class="form-control" name="breif" #userEmail="ngModel" placeholder="Breif"></textarea>
                
            </div>
            <div class="form-group mb-3">
                <input type="file" required ngModel class="form-control" name="Image" #userEmail="ngModel" placeholder="Image">

            </div>


      <button [disabled]="addAuthorInput.invalid" type="submit" class=" mb-2 btn text-light">Add Author</button>
    </form> -->
    <div class="row my-5">
        <h4 class=" text-center">Add Author</h4>
        <form action="" enctype="multipart/form-data" method="post" [formGroup]="addauthorform" (ngSubmit)="addauthor()">
            <div class="elm my-3" >
    
                <label > Add First Name</label>
                <input type="text" formControlName="firstName" class="form-control">
                <span *ngIf="addauthorform.controls['firstName'].touched && addauthorform.controls['firstName'].invalid">
                    
                    <span *ngIf="addauthorform.controls['firstName'].errors?.['required']" class="text-danger">
                            this filed is required
                    </span>
                    <span *ngIf="addauthorform.controls['firstName'].errors?.['minlength']" class="text-danger">
                       minlegth is 6 char
                      </span>
                      <span *ngIf="addauthorform.controls['firstName'].errors?.['maxlength']" class="text-danger">
                        maxLength is 10 char
                       </span>
                </span>
    
            </div>
            <div class="elm my-3" >
    
                <label > Add Last Name</label>
                <input type="text" formControlName="lastName" class="form-control">
    
                <span *ngIf="addauthorform.controls['lastName'].touched && addauthorform.controls['firstName'].invalid">
                    
                    <span *ngIf="addauthorform.controls['lastName'].errors?.['required']" class="text-danger">
                            this filed is required
                    </span>
                    <span *ngIf="addauthorform.controls['lastName'].errors?.['minlength']" class="text-danger">
                       minlegth is 6 char
                      </span>
                      <span *ngIf="addauthorform.controls['lastName'].errors?.['maxlength']" class="text-danger">
                        maxLength is 10 char
                       </span>
                </span>
    
            </div>
            <div class="elm my-3" >
    
                <label > Add Birth Date</label>
                <input type="date" formControlName="birthOfDate" class="form-control">
    
                <span *ngIf="addauthorform.controls['birthOfDate'].touched && addauthorform.controls['firstName'].invalid">
                    
                    <span *ngIf="addauthorform.controls['birthOfDate'].errors?.['required']" class="text-danger">
                            this filed is required
                    </span>
        
                </span>
    
            </div>
            <div class="elm my-3" >
    
                <label > breif</label>
                <input type="text" formControlName="breif" class="form-control">

            </div>
            <div class="elm my-3" >
    
                <label > Add Photo</label>
                <input type="file" formControlName="Image" class="form-control" (change)="addphoto($event)">
    
    
                <span *ngIf="addauthorform.controls['Image'].touched && addauthorform.controls['firstName'].invalid">
                    
                    <span *ngIf="addauthorform.controls['Image'].errors?.['required']" class="text-danger">
                            this filed is required
                    </span>
        
                </span>
    
            </div> 
    
            <div class="elm my-3" >
    
              
                <input type="submit"  class="btn btn-primary "  >
    
            </div>
        </form>
    </div>
</div>

<!-- <div class="updatelayer position-absolute position-relative px-5 py-3 rounded text-center" id="updatelayer">
    <a (click)="closeUpdateBox()" class="position-absolute close">
        <i class="fa fa-close fs-5"></i>
    </a>
    <h1 class="mt-4">Update Author</h1>
    <form  #updateAuthorInput="ngForm"  (ngSubmit)="updateAuthor(updateAuthorInput)">
            <div class="form-group mb-3">
                <input required minlength="3" maxlength="7" ngModel class="form-control" name="firstName" #userEmail="ngModel" placeholder="First Name">
                <div *ngIf="userEmail.touched">
                    <p *ngIf="userEmail.errors?.['required']" class="text-danger mt-2">Category Name is required</p>
                    <p *ngIf="userEmail.errors?.['minlength']" class="text-danger mt-2">Min length must be 3</p>
                    <p *ngIf="userEmail.errors?.['maxlength']" class="text-danger mt-2">Min length must be 7</p>
                </div>
            </div>
            <div class="form-group mb-3">
                <input required minlength="3" maxlength="10" ngModel class="form-control" name="lastName" #userEmail="ngModel" placeholder="last Name">
               
            </div>

            <div class="form-group mb-3">
                <input required minlength="3" maxlength="10" ngModel class="form-control" name="dateOfBirth" #userEmail="ngModel" placeholder="Date of Birth">
               
            </div>
            <div class="form-group mb-3">
                <textarea required minlength="3" maxlength="30" ngModel class="form-control" name="breif" #userEmail="ngModel" placeholder="Breif"></textarea>
               
            </div>
            <div class="form-group mb-3">
                <input type="file" required ngModel class="form-control" name="Image" #userEmail="ngModel" placeholder="Image">
                
            </div>


      <button [disabled]="updateAuthorInput.invalid" type="submit" class=" mb-2 btn text-light">Update Author</button>
    </form>
</div>  -->
